
@{
    ViewBag.Title = "Debug";
}

<h2>Debug API</h2>

<body>
    <form action="/Home/Debug" method="POST">
        @Html.AntiForgeryToken()
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <p class="text-center"><strong>This is Debug API</strong></p>
                </div>
                <div class="panel-body">
                    @if (IsPost == false)
                    {
                        <textarea name="source" class="form-control" rows="30" cols="55" style="font-size:12px; font-family: Courier New; resize: none;" required="required"></textarea>
                    }
                    else
                    {
                        <pre>@ViewBag.api.source</pre>
                        <pre>@ViewBag.api.results</pre>
                        <pre>
                            @foreach (var token in ViewBag.api.alltokens)
                            {<span style="background-color:yellow">@token</span> }
                        </pre>
                        <pre>
                            @foreach (var token in ViewBag.api.keytokens)
                            {<span style="background-color:yellow">@token</span> }
                        </pre>
                    }
                </div>
            </div>
        </div>
        @if (IsPost == false)
        {
            <br />
            <button class="btn btn-block btn-danger" type="submit">Debug API</button>
        }
    </form>
</body>