@model IEnumerable<SimCodeDetectionWeb.Models.OJUser>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.userName)</th>
            <th>@Html.DisplayNameFor(model => model.userLevel)</th>
            <th>@Html.DisplayNameFor(model => model.studentId)</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.userName)</td>
        <td>@Html.DisplayFor(modelItem => item.userLevel)</td>
        <td>@Html.DisplayFor(modelItem => item.studentId)</td>
    </tr>
}

</table>
