@using SimCodeDetectionWeb.Models;
@{
    ViewBag.Title = ViewBag.user.userName;
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><i class="glyphicon glyphicon-home"></i> USER - @ViewBag.user.userName</h2>
            <ul class="nav nav-pills nav-stacked">
                <li><a><i class="glyphicon glyphicon-user"></i> @ViewBag.user.Id</a></li>
                <li><a><i class="glyphicon glyphicon-tag"></i> @ViewBag.user.studentId</a></li>
                <li><a><i class="glyphicon glyphicon-tags"></i> @ViewBag.user.userLevel</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default" style="margin:20px">
                <div class="panel-heading">Submission Problems</div>
                <div class="panel-body">
                    @foreach (var item in ViewBag.problems)
                    {
                        <a class="btn btn-success" href=@("/Problem/Show/" + item.Id)>@item.Id</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Run ID</th>
                    <th>Problem</th>
                    <th>User</th>
                    <th>Result</th>
                    <th>Language</th>
                    <th>Submit Time</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.List)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a href=@("/Problem/Show/" + item.problem.Id)>@item.problem.title</a></td>
                    <td><a href=@("/Status/U/" + item.OUser.Id)>@item.OUser.userName</a></td>
                    @{
                    var count = SimCodeDetectionWeb.Tools.JsonTool.Json2ListSimResult(item.results);
                    <td><a href=@("/Status/Solution/" + item.Id)>@(item.status + " (" + count.Count + ")")</a></td>
                    }
                    <td>@item.language</td>
                    <td>@item.subTime</td>
                </tr>
            }
        </table>
    </div>
</div>