
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
    <style type="text/CSS">
        span.highlight {
            background-color: yellow;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highlight")
</head>
<body>
    <div>
        <span class="label label-success">0~40%</span>
        <span class="label label-info">40~70%</span>
        <span class="label label-warning">70~90%</span>
        <span class="label label-danger">90~100%</span>
        <span class="label label-default">AC</span>
        <span class="label label-default">WA</span>
        <span class="label label-default">PE</span>
        <span class="label label-default">RE</span>
        <span class="label label-default">TLE</span>
        <span class="label label-default">MLE</span>
        <span class="label label-default">--</span>
    </div>
    <div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-1">NO.</th>
                    <th class="col-md-1">Name</th>
                    <th class="col-md-1">Student ID</th>
                    <th class="col-md-5">Statistics</th>
                    <th class="col-md-2">Personal Best</th>
                    <th class="col-md-2">Evaluation</th>
                </tr>
            </thead>
            @for (var i = 0; i < ViewBag.Data.Count; i++)
            {
                var item = ViewBag.Data[i];
                <tr class=@item.tabletype>
                    <td>@i</td>
                    <td>@item.username</td>
                    <td>@item.studentid</td>
                    <td>
                        @foreach (var sub in item.subs)
                        {
                            if (sub.Value >= 0.9) {
                                <a class="label label-danger">@sub.Key.Value</a>
                            } else if (sub.Value >= 0.7) {
                                <a class="label label-warning">@sub.Key.Value</a>
                            } else if (sub.Value >= 0.4) {
                                <a class="label label-info">@sub.Key.Value</a>
                            } else {
                                <a class="label label-success">@sub.Key.Value</a>
                            }
                        }
                </td>
                <td>@item.personalbest</td>
                <td>@item.eva</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
